body {
    background-color: rgb(220, 218, 218);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color: #cccccc; */
    border: 2px solid #2c3e50;
    position: absolute;
}

.header {
    top: 120px;
    left: 5px;
    right: 5px;
    height: 140px;
    z-index: 2;
    border: solid 1px #1abc9c;
    background-color: #1abc9c;
}

.leftmenu {
    top: 269px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px #555555;
    background-color: #2c3e50;
    /* background-color: #f8f9fa; */   
}

a:visited{
    color: gray;
}

.mainbody {
    top: 269px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
    height: 1000px;
    background-color: #1abc9c;
    border: solid 1px #1abc9c;
}

.rightmenu {
    top: 269px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
    background-color: #2c3e50;
    color: white;
    /* background-color: #f8f9fa; */
}

.footerResume {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    font-size: 8px;
    color: white;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    background-color: #2c3e50;
}

.subheader {
    float: right;
}

.backtoTop {
    display: block;
    text-align: center;
    margin: 20px;
}